<div class="flex flex-col w-[90%] gap-10 m-auto mt-10">
  <div class="flex gap-2 view-back">
      <button><img src="/www/Assets/arrowback.svg" class="" alt="" srcset=""></button>
      <h3 class="font-bold">Back</h3>
  </div>

  <div class="m-auto w-[75%]">
    <img  src="/www/Assets/care.webp" alt="">
  </div>
  
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form id="registerForm" class="space-y-6" onsubmit="registerUser(event)">
              <div>
                  <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                  <div class="mt-1">
                      <input id="username" name="username" type="text" autocomplete="username" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
              </div>

              <div>
                  <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                  <div class="mt-1">
                      <input id="email" name="email" type="email" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
              </div>

              <div>
                  <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                  <div class="mt-1">
                      <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
              </div>
          
              <div>
                  <button type="submit" class="w-full flex justify-center py-2 px-4 border border-black rounded-md shadow-sm text-sm font-medium text-black bg-violet-blue hover:bg-light-slate-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 view-register">
                      Register
                  </button>
              </div>
              
          </form>
      </div>
  </div>
</div>

<script type="module">
  import { auth, db } from '/path/to/your/firebaseConfig.js';
  import Swal from 'sweetalert2';

  function registerUser(event) {
    event.preventDefault();

    const fullName = document.getElementById('username').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    if (!validateEmail(email)) {
        Swal.fire({
            icon: 'error',
            title: 'Error al registrar usuario',
            text: 'Por favor, ingrese un correo electrónico válido.',
            customClass: {
                popup: 'bg-white border border-red-300 rounded-md shadow-lg w-80',
                title: 'font-semibold text-fc2 text-lg',
                content: 'text-gray-700 text-sm',
            }
        });
        return;
    }

    if (password.length < 6) {
        Swal.fire({
            icon: 'error',
            title: 'Error al registrar usuario',
            text: 'La contraseña debe tener al menos 6 caracteres.',
            customClass: {
                popup: 'bg-white border border-red-300 rounded-md shadow-lg w-80',
                title: 'font-semibold text-fc2 text-lg',
                content: 'text-gray-700 text-sm',
            }
        });
        return;
    }

    Swal.fire({
        title: 'Cargando..',
        allowOutsideClick: false,
        showConfirmButton: false,
        didOpen: () => {
            Swal.showLoading();
            const swalElm = Swal.getPopup();
            swalElm.classList.add('bg-white', 'border', 'border-blue-500', 'rounded-md', 'shadow-lg', 'w-80');
            const spinner = swalElm.querySelector('.swal2-loader');
            spinner.style.borderTopColor = '#6A5ACD';
            spinner.style.borderRightColor = '#6A5ACD';
        }
    });

    auth.createUserWithEmailAndPassword(email, password)
        .then((userCredential) => {
            const user = userCredential.user;
            return db.collection('Usuarios').doc(user.uid).set({
                fullName: fullName,
                email: email,
            });
        })
        .then(() => {
            Swal.fire({
                icon: 'success',
                title: 'Registro exitoso',
                timer: 2000,
                showConfirmButton: false,
                customClass: {
                    popup: 'bg-white border border-green-300 rounded-md shadow-lg w-80',
                    title: 'font-semibold text-fc2 text-lg',
                    content: 'text-gray-700 text-sm',
                }
            }).then(() => {
                loadPartialView('home-main', document.querySelector('.init'), false);
            });
        })
        .catch((error) => {
            let errorMessage = error.message;

            if (errorMessage.includes('auth/email-already-in-use')) {
                errorMessage = 'El correo electrónico ya está en uso.';
            } else if (errorMessage.includes('auth/weak-password')) {
                errorMessage = 'La contraseña debe tener al menos 6 caracteres.';
            } else if (errorMessage.includes('auth/invalid-email')) {
                errorMessage = 'Por favor, ingrese un correo electrónico válido.';
            }

            Swal.fire({
                icon: 'error',
                title: 'Error al registrar usuario',
                text: errorMessage,
                customClass: {
                    popup: 'bg-white border border-red-300 rounded-md shadow-lg w-80',
                    title: 'font-semibold text-fc2 text-lg',
                    content: 'text-gray-700 text-sm',
                }
            });
        });
}

function validateEmail(email) {
    const re = /\S+@\S+\.\S+/;
    return re.test(email);
}

document.querySelector('.view-back').addEventListener('click', function() {
  loadPartialView('home-app', document.querySelector('.init'), false);
});

document.querySelector('.view-register').addEventListener('click', function() {
  loadPartialView('log-in', document.querySelector('.init'), false);
});
</script>
